
			.gaia.ops.gsl {
	font-family: arial, sans-serif;
	color: #3366cc;
	font-size: medium;
	font-weight: bold;
} 
		
			.gaia.cca.al {
	font-family: arial, sans-serif;
	font-size: small;
	font-weight: bold;
}
			.style1{
				margin-left: 2px;
				margin-right: 0px;
				margin-top: 2px;
				margin-bottom: 2px;
			}
		
